	{{> navigation }}
<center>
	<div class="container p-6 mt-3">
		<div class="form">
			<div class="col-md-6 mb-3 mx-auto">
				<div class="card text-center">
					<div class="card-body mx-auto">
						<h4>About Us</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card border-primary mb-3" style="max-width: 18rem;">
		<div class="card-header">We are...</div>
		<div class="card-body text-primary">
			<p class="card-text">We are three students of the engineering faculty of UNAM, we are in the eighth semester of the computer engineering degree. We have designed this small web page with school purposes in which we learned a lot from the subject of distributed systems
			</p>
		</div>
	</div>
</center>